header {
    display: flex;
    padding: 0 18%;
    align-items: center;
    min-height: 9vh;
    background: darkblue;
}

.nav-links {
    padding-left: 3vw;
    display: flex;
    text-transform: uppercase;
    list-style: none;
}

.nav-links a {
    color: white;
    padding: 0 1.5vw;
    font-size: 20px;
    text-decoration: none;
}
