header {
    display: flex;
    padding: 0 15rem;
    align-items: center;
    text-align: center;
    min-height: 3rem;
    background: darkblue;
}

nav {
    display: flex;
}

.leftSide {
}

.rightSide {
    padding-left: 30vw;
}

.nav-links {
    /*padding-left: 3vw;*/
    display: flex;
    text-transform: uppercase;
    list-style: none;
}

.nav-links a {
    color: white;
    padding: 0 0.5vw;
    font-size: 20px;
    text-decoration: none;
}
